html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

/* --- INICIO BANNER --- */

.imagem_login {
  height: 100px;
  width: 100px;
  margin-bottom: 20px;
}

.formulario {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px 0 0;
  color: #000;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  padding: 15px 0;
}

.banner .container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.banner .container .imagem_fundo {
  width: 500px;
}

.formulario input {
  width: 700px;
  border-radius: 10px;
  border: none;
  padding: 4px;
}

.formulario input:focus {
  border: 3px solid #54a0ff;
}

.formulario .campo {
  display: flex;
  flex-direction: column;
}

.formulario h2 {
  font-family: "Poppins", sans-serif;
}

.formulario button {
  height: 35px;
  background-color: #54a0ff;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

button:hover {
  background-color: #2980b9;
}

.botao_cadastro:hover {
  background-color: #2980b9;
}

.formulario input {
  margin-bottom: 20px;
}
