body {
  margin: 0;
  justify-content: center;
  background-color: rgb(226, 226, 226);
}

strong {
  color: var(--blue-medium);
}

a {
  color: white;
  text-decoration: none;
  }

main {
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
}

/* navbar */

.header {
  background-color: rgba(53, 124, 208, 1);
  width: 100%;
  display: flex;
  justify-content: center;
}

.header .container {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.logo {
  display: flex;
  align-items: center;
}

.header .logo h1 {
  color: var(--main-white);
}

.container ul {
  width: 400px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: white;
}

.container li {
  font-family: arial;
}

.container ul li a {
  text-decoration: none;
  color: white;
  font-family: arial;
}

/* HEADER */

.esquerda {
  background-color: rgba(29, 78, 216, 1);
  height: 100%;
  width: 160px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.esquerda .lista {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-weight: 700;
  font-size: large;
}

.lista span {
  margin: 20px;
}

.estoque {
  background-color: rgba(3, 13, 79, 0.3);
  width: 100%;
  height: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.estoque:hover {
  background-color: rgba(3, 13, 79, 0.6);
}

/* FIM DA COISINHA DO LADO */
/* coisinha ksksks */
/* VISÃO GERAL */

.geral {
  height: 100%;
  width: 100%;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
}

.geral .BemVindo {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  position: sticky;
}

.BemVindo span {
  font-weight: 600;
  font-size: 20px;
}

.foto {
  background-color: blue;
  width: 50px;
  height: 50px;
  border-radius: 100px;
}

.BemVindo input {
  background-color: #f0f0f0;
  border: none;
  border-radius: 10px;
  width: 400px;
  padding: 15px;
  font-size: 20px;
}

.geral .dashboards {
  padding: 20px 0px;
}

.dashboards .graphics {
  display: flex;
  justify-content: center;
}

.geral .container {
  height: 150px;
}

.status .container {
  justify-content: center;
}

.card {
  background-color: white;
  height: 100%;
  width: 25%;
  border-radius: 20px;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  margin: 0px 20px;
}

b {
  font-size: 30px;
  margin-left: 10px;
}

.barra {
  width: 5px;
  height: 40px;
}

.azul {
  background-color: blue;
}

.amarelo {
  background-color: rgb(255, 187, 0);
}

.verde {
  background-color: rgb(101, 168, 0);
}

.grafico {
  background-color: #f7f7f7;
  border: solid;
  border-color: rgba(29, 78, 216, 1);
  border-radius: 10px;
  margin: 30px 25px;
  display: flex;
  flex-direction: column;
}

.grafico span {
  margin: 30px;
  text-align: center;
}

.rolha {
  background-color: rgb(255, 255, 255);
  margin-left: 40px;
  border-radius: 20px;
  box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.3);
  padding: 0 10px;
}

.rolha .perdidos {
  font-weight: 800;
  font-size: 19px;
  margin: 30px 0px;
}

.rolha .graficoRolha {
  margin-top: 30px;
}

.informações {
  margin-top: 50px;
  display: flex;
  font-weight: 600;
  justify-content: space-evenly;
}
